
body {
  background-color: #1b8a56;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.container {
  max-width: 70vw;
  margin: 0 auto;
  padding-top: 40px;
}


.card {
  width: 80px;
  height: 120px;
  border: 1px solid #000;
  border-radius: 6px;
  background-color: white;
  box-shadow: 0 4px 6px rgba(0,0,0,0.2);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
}


.card .corner-top-left,
.card .corner-bottom-right,
.card .corner-top-right,
.card .corner-bottom-left {
  font-size: 1.2rem;
  font-weight: bold;
  position: absolute;
  z-index: 2;
}

.card .corner-top-left {
  top: 5px;
  left: 8px;
}

.card .corner-top-right {
  top: 5px;
  right: 8px;
}

.card .corner-bottom-left {
  bottom: 5px;
  left: 8px;
  transform: rotate(180deg);
}

.card .corner-bottom-right {
  bottom: 5px;
  right: 8px;
  transform: rotate(180deg);
}

.card .card-value {
  font-size: 1.8rem;
  font-weight: bold;
}

/* Colores */
.card.red {
  color: red;
}

.card.black {
  color: black;
}


.card.oculta {
  background-color: transparent;
  background-image: url('imagen/reverso.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: transparent;
}


#mazo, #descarte,
#fundacion-♠, #fundacion-♣, #fundacion-♥, #fundacion-♦ {
  width: 80px;
  height: 120px;
}


#fundaciones .card.oculta {
  background: rgba(167, 235, 167, 0.114);
  color: #333;
  font-size: 2rem;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}

#fundacion-♥ .card.oculta,
#fundacion-♦ .card.oculta {
  color: red;
}

#fundacion-♠ .card.oculta,
#fundacion-♣ .card.oculta {
  color: black;
}


#tablero {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  gap: 40px;
}

#tablero > div {
  display: flex;
  flex-direction: column;
  position: relative;
  min-height: 130px;
  width: 80px;
}


#tablero .card {
  margin-top: -85px;
  z-index: 1;
}

#tablero .card:first-child {
  margin-top: 0;
}

.card.placeholder {
  background: rgba(167, 235, 167, 0.114);
  border: 2px dashed #bbb;
  color: transparent;
  box-shadow: none;
}

.fundacion-vacia {
  background: #e0e0e0;
  border: 2px dashed #999;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fundacion-vacia .fundacion-palo {
  font-size: 2.5rem;
  font-weight: bold;
  color: #333;
}

.card.mazo-vacio {
  background-color: rgba(167, 235, 167, 0.114);
  color: #444;
  font-size: 2rem;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px dashed #aaa;
  cursor: pointer;
}
